@import url('https://fonts.googleapis.com/css?family=Poppins');


body {
    font-family: 'Poppins';
    position: relative;
}

.navbar {
    background-color: #ffff;
    font-weight: 400;
}

section{
    height: 100vh;
    width: 100%;
    font-family: "Montserrat";
    background-color: #eef8ff;
    color: #2B2B2B;
}

.jumbotron {
    padding-top: 2.5rem;
}
.jumbotron-media{
    padding-top: 2.5rem;
    height: auto;
}
.jumbotron-tentang{
    padding-top: 2.5rem;
    height: auto;
}

.navbar .linkItem::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #6EC1E4;
    margin: auto;
    display: block;
}

.navbar .linkItem:hover::after {
    width: 100%;
    transition: width 0.35s linear;
}

.navbar .linkItem:hover {
    color: #6EC1E4 !important;
}

/* .navbar .active {
    color: #6EC1E4 !important;
} */

.footer {
    background-color: #6EC1E4;
    font-weight: 500;
    color: black;
}

/* .carouselCaption{
 color: black;
} */
.carousel-item {
    background-color: black;

}

.carousel-caption {
    font-size: 36px;
    font-weight: 500;
    color: white;
    top: 35%;
    left: auto;
    text-shadow: 2px;
}

.carousel-caption h1 {
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 2px 3px #000000;
}

.carousel-caption h2 {
    text-align: left;
    font-size: 20px;
    font-weight: 525;
    text-shadow: 2px 3px #000000;
}
.carousel-caption .btn {
    color: #fff;
    float: left;
    margin-top: 1rem;
    font-weight: 500;
    text-shadow: 1px 1px #000000;
}

.col h2 {
    font-weight: 700;
}

.col p {
    font-weight: 700;
}

.formButton{
    height: 5rem;
}
.pictureWrapper{
    padding-top:0.2rem ;
}

.pictureCard{
    height: auto;
    margin:5px;
    padding: 5px;
    font-weight: 700;
}

.pictures{
    height: 180px;
}
.card-text{
    font-weight: 700;
}
.formFrag{
    height: 100vh;
    background-color: #eef8ff;
}
.formPendaftaran{
    padding-top: 2.5rem;
    font-family: "Montserrat";
}

.media-gambar{
    height: 100vw;
    width: 100%;
    font-family: "Montserrat";
    background-color: #eef8ff;
}
.media-berita{
    height: 100vw;
    width: 100%;
    font-family: "Montserrat";
    background-color: #eef8ff;
}

.kembali{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
#Tentang{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 768px) {
    .carousel-caption h1 {
        font-size:22px;
        font-weight: 700;
    }
    .carousel-caption h2 {
        font-size:16px;
        font-weight: 525;
    }
    .col h2 {
        font-size: 24px;
        font-weight: 700;
    }
    .media-gambar, .media-berita{
        height: auto;
        background-color: #eef8ff;
    }
    p{
        font-size: 16px;
    }
    .formFrag{
        height: auto;
        background-color: #eef8ff;
    }
}

